*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.left-8 {
  left: 2rem;
}

.z-0 {
  z-index: 0;
}

.z-50 {
  z-index: 50;
}

.z-\[-1\] {
  z-index: -1;
}

.z-\[999\] {
  z-index: 999;
}

.col-\[1\/3\] {
  grid-column: 1/3;
}

.col-\[2\/3\] {
  grid-column: 2/3;
}

.col-\[3\/4\] {
  grid-column: 3/4;
}

.col-\[3\/5\] {
  grid-column: 3/5;
}

.col-\[4\/5\] {
  grid-column: 4/5;
}

.row-\[1\/2\] {
  grid-row: 1/2;
}

.row-\[1\/3\] {
  grid-row: 1/3;
}

.row-\[1\/4\] {
  grid-row: 1/4;
}

.row-\[2\/3\] {
  grid-row: 2/3;
}

.row-\[3\/4\] {
  grid-row: 3/4;
}

.row-\[3\/5\] {
  grid-row: 3/5;
}

.row-\[4\/6\] {
  grid-row: 4/6;
}

.row-\[5\/6\] {
  grid-row: 5/6;
}

.mt-\[\] {
  margin-top: ;
}

.mt-\[85\] {
  margin-top: 85;
}

.mt-\[85vh\] {
  margin-top: 85vh;
}

.mt-\[15\%\] {
  margin-top: 15%;
}

.mt-\[30\%\] {
  margin-top: 30%;
}

.mt-\[20vh\] {
  margin-top: 20vh;
}

.mt-\[15vh\] {
  margin-top: 15vh;
}

.mt-\[10vh\] {
  margin-top: 10vh;
}

.mt-\[12vh\] {
  margin-top: 12vh;
}

.mt-\[11vh\] {
  margin-top: 11vh;
}

.mt-\[5vh\] {
  margin-top: 5vh;
}

.mt-10 {
  margin-top: 2.5rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-\[25vh\] {
  height: 25vh;
}

.h-\[30vh\] {
  height: 30vh;
}

.h-\[37vh\] {
  height: 37vh;
}

.h-\[50vh\] {
  height: 50vh;
}

.h-\[80\%\] {
  height: 80%;
}

.h-\[90\%\] {
  height: 90%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.h-\[\] {
  height: ;
}

.h-\[85\%\] {
  height: 85%;
}

.h-\[100\%\] {
  height: 100%;
}

.w-12 {
  width: 3rem;
}

.w-20 {
  width: 5rem;
}

.w-48 {
  width: 12rem;
}

.w-\[15\%\] {
  width: 15%;
}

.w-\[20vw\] {
  width: 20vw;
}

.w-\[29vw\] {
  width: 29vw;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[65\%\] {
  width: 65%;
}

.w-\[70\%\] {
  width: 70%;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[85\%\] {
  width: 85%;
}

.w-\[90\%\] {
  width: 90%;
}

.w-\[95\%\] {
  width: 95%;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-\[1fr_3fr_5fr_3fr\] {
  grid-template-columns: 1fr 3fr 5fr 3fr;
}

.grid-cols-\[2fr_6fr_4fr\] {
  grid-template-columns: 2fr 6fr 4fr;
}

.grid-rows-\[15\%_15\%_30\%_15\%_15\%\] {
  grid-template-rows: 15% 15% 30% 15% 15%;
}

.grid-rows-\[15\%_70\%_15\%\] {
  grid-template-rows: 15% 70% 15%;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-x-32 {
  -moz-column-gap: 8rem;
       column-gap: 8rem;
}

.gap-x-40 {
  -moz-column-gap: 10rem;
       column-gap: 10rem;
}

.gap-y-8 {
  row-gap: 2rem;
}

.gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.gap-x-3 {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

.overflow-hidden {
  overflow: hidden;
}

.border-2 {
  border-width: 2px;
}

.border-x-2 {
  border-left-width: 2px;
  border-right-width: 2px;
}

.border-b-\[1px\] {
  border-bottom-width: 1px;
}

.border-\[\#CEA950\] {
  --tw-border-opacity: 1;
  border-color: rgb(206 169 80 / var(--tw-border-opacity, 1));
}

.border-\[rgba\(255\2c 255\2c 255\2c 0\.5\)\] {
  border-color: rgba(255,255,255,0.5);
}

.border-secondary-text {
  --tw-border-opacity: 1;
  border-color: rgb(206 169 80 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.border-opacity-100 {
  --tw-border-opacity: 1;
}

.bg-\[rgba\(0\2c 0\2c 0\2c 0\.75\)\] {
  background-color: rgba(0,0,0,0.75);
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.stroke-white {
  stroke: #fff;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.px-24 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-14 {
  padding-left: 3.5rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[0\.9rem\] {
  font-size: 0.9rem;
}

.text-\[4rem\] {
  font-size: 4rem;
}

.text-\[6\.5rem\] {
  font-size: 6.5rem;
}

.text-\[8rem\] {
  font-size: 8rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.uppercase {
  text-transform: uppercase;
}

.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.25;
}

.text-\[rgba\(255\2c 255\2c 255\2c 0\.7\)\] {
  color: rgba(255,255,255,0.7);
}

.text-main-text {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-0 {
  opacity: 0;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-80 {
  opacity: 0.8;
}

.shadow-\[-5px_-5px_\#CEA950\] {
  --tw-shadow: -5px -5px #CEA950;
  --tw-shadow-colored: -5px -5px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[-5px_10px_\#CEA950\] {
  --tw-shadow: -5px 10px #CEA950;
  --tw-shadow-colored: -5px 10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[10px_15px_\#CEA950\] {
  --tw-shadow: 10px 15px #CEA950;
  --tw-shadow-colored: 10px 15px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[5px_-5px_\#CEA950\] {
  --tw-shadow: 5px -5px #CEA950;
  --tw-shadow-colored: 5px -5px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[5px_5px_\#CEA950\] {
  --tw-shadow: 5px 5px #CEA950;
  --tw-shadow-colored: 5px 5px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.brightness-75 {
  --tw-brightness: brightness(.75);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

* {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hover\:border-opacity-0:hover {
  --tw-border-opacity: 0;
}

.hover\:stroke-secondary-text:hover {
  stroke: #CEA950;
}

.hover\:text-secondary-text:hover {
  --tw-text-opacity: 1;
  color: rgb(206 169 80 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

@media (min-width: 320px) and (max-width: 440px) {
  .xs\:col-\[\] {
    grid-column: ;
  }

  .xs\:col-\[1\/2\] {
    grid-column: 1/2;
  }

  .xs\:col-\[12\] {
    grid-column: 12;
  }

  .xs\:col-\[2\/3\] {
    grid-column: 2/3;
  }

  .xs\:col-\[1\/3\] {
    grid-column: 1/3;
  }

  .xs\:row-\[2\/3\] {
    grid-row: 2/3;
  }

  .xs\:row-\[1\/6\] {
    grid-row: 1/6;
  }

  .xs\:row-\[1\/5\] {
    grid-row: 1/5;
  }

  .xs\:row-\[\] {
    grid-row: ;
  }

  .xs\:row-\[4\/5\] {
    grid-row: 4/5;
  }

  .xs\:ml-12 {
    margin-left: 3rem;
  }

  .xs\:ml-8 {
    margin-left: 2rem;
  }

  .xs\:ml-2 {
    margin-left: 0.5rem;
  }

  .xs\:mt-2 {
    margin-top: 0.5rem;
  }

  .xs\:mt-8 {
    margin-top: 2rem;
  }

  .xs\:mt-4 {
    margin-top: 1rem;
  }

  .xs\:mt-\[\] {
    margin-top: ;
  }

  .xs\:mt-\[50vh\] {
    margin-top: 50vh;
  }

  .xs\:mb-8 {
    margin-bottom: 2rem;
  }

  .xs\:mb-4 {
    margin-bottom: 1rem;
  }

  .xs\:ml-4 {
    margin-left: 1rem;
  }

  .xs\:ml-10 {
    margin-left: 2.5rem;
  }

  .xs\:ml-14 {
    margin-left: 3.5rem;
  }

  .xs\:mb-14 {
    margin-bottom: 3.5rem;
  }

  .xs\:grid {
    display: grid;
  }

  .xs\:hidden {
    display: none;
  }

  .xs\:h-\[\] {
    height: ;
  }

  .xs\:h-\[80\%\] {
    height: 80%;
  }

  .xs\:h-\[50\%\] {
    height: 50%;
  }

  .xs\:h-\[70\%\] {
    height: 70%;
  }

  .xs\:h-\[0\%\] {
    height: 0%;
  }

  .xs\:h-\[90\%\] {
    height: 90%;
  }

  .xs\:h-\[85\%\] {
    height: 85%;
  }

  .xs\:h-\[20vh\] {
    height: 20vh;
  }

  .xs\:h-\[10vh\] {
    height: 10vh;
  }

  .xs\:h-\[75\%\] {
    height: 75%;
  }

  .xs\:h-\[30vh\] {
    height: 30vh;
  }

  .xs\:h-\[40vh\] {
    height: 40vh;
  }

  .xs\:w-full {
    width: 100%;
  }

  .xs\:w-\[\] {
    width: ;
  }

  .xs\:w-\[90\%\] {
    width: 90%;
  }

  .xs\:w-\[80\%\] {
    width: 80%;
  }

  .xs\:w-24 {
    width: 6rem;
  }

  .xs\:w-32 {
    width: 8rem;
  }

  .xs\:w-\[70\%\] {
    width: 70%;
  }

  .xs\:w-12 {
    width: 3rem;
  }

  .xs\:w-16 {
    width: 4rem;
  }

  .xs\:w-36 {
    width: 9rem;
  }

  .xs\:w-\[50\%\] {
    width: 50%;
  }

  .xs\:w-\[70vw\] {
    width: 70vw;
  }

  .xs\:w-\[50vw\] {
    width: 50vw;
  }

  .xs\:w-8 {
    width: 2rem;
  }

  .xs\:w-\[90vw\] {
    width: 90vw;
  }

  .xs\:w-\[50\] {
    width: 50;
  }

  .xs\:w-\[20vw\] {
    width: 20vw;
  }

  .xs\:w-\[30vw\] {
    width: 30vw;
  }

  .xs\:w-1\/2 {
    width: 50%;
  }

  .xs\:w-\[25vw\] {
    width: 25vw;
  }

  .xs\:w-\[10vw\] {
    width: 10vw;
  }

  .xs\:w-10 {
    width: 2.5rem;
  }

  .xs\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .xs\:grid-cols-\[\] {
    grid-template-columns: ;
  }

  .xs\:grid-cols-\[w-screen\] {
    grid-template-columns: w-screen;
  }

  .xs\:grid-cols-\[1fr\] {
    grid-template-columns: 1fr;
  }

  .xs\:grid-cols-\[1fr_3fr_5fr_3fr\] {
    grid-template-columns: 1fr 3fr 5fr 3fr;
  }

  .xs\:grid-cols-\[1fr_1fr\] {
    grid-template-columns: 1fr 1fr;
  }

  .xs\:flex-col {
    flex-direction: column;
  }

  .xs\:items-start {
    align-items: flex-start;
  }

  .xs\:items-end {
    align-items: flex-end;
  }

  .xs\:items-center {
    align-items: center;
  }

  .xs\:justify-start {
    justify-content: flex-start;
  }

  .xs\:justify-center {
    justify-content: center;
  }

  .xs\:gap-x-20 {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }

  .xs\:gap-x-12 {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }

  .xs\:gap-y-8 {
    row-gap: 2rem;
  }

  .xs\:gap-y-4 {
    row-gap: 1rem;
  }

  .xs\:gap-y-2 {
    row-gap: 0.5rem;
  }

  .xs\:gap-x-10 {
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }

  .xs\:gap-x-14 {
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }

  .xs\:gap-x-2 {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }

  .xs\:gap-x-8 {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }

  .xs\:gap-x-4 {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }

  .xs\:gap-x-0 {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }

  .xs\:gap-x-24 {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }

  .xs\:gap-y-10 {
    row-gap: 2.5rem;
  }

  .xs\:gap-x-6 {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }

  .xs\:self-start {
    align-self: flex-start;
  }

  .xs\:self-end {
    align-self: flex-end;
  }

  .xs\:self-center {
    align-self: center;
  }

  .xs\:justify-self-center {
    justify-self: center;
  }

  .xs\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .xs\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .xs\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .xs\:pl-10 {
    padding-left: 2.5rem;
  }

  .xs\:pl-12 {
    padding-left: 3rem;
  }

  .xs\:pt-2 {
    padding-top: 0.5rem;
  }

  .xs\:pb-8 {
    padding-bottom: 2rem;
  }

  .xs\:pb-4 {
    padding-bottom: 1rem;
  }

  .xs\:pb-3 {
    padding-bottom: 0.75rem;
  }

  .xs\:pb-2 {
    padding-bottom: 0.5rem;
  }

  .xs\:pl-0 {
    padding-left: 0px;
  }

  .xs\:pl-4 {
    padding-left: 1rem;
  }

  .xs\:pl-6 {
    padding-left: 1.5rem;
  }

  .xs\:pl-24 {
    padding-left: 6rem;
  }

  .xs\:pl-8 {
    padding-left: 2rem;
  }

  .xs\:pl-2 {
    padding-left: 0.5rem;
  }

  .xs\:pb-6 {
    padding-bottom: 1.5rem;
  }

  .xs\:pb-24 {
    padding-bottom: 6rem;
  }

  .xs\:text-center {
    text-align: center;
  }

  .xs\:text-\[2rem\] {
    font-size: 2rem;
  }

  .xs\:text-\[3rem\] {
    font-size: 3rem;
  }

  .xs\:text-\[3\.5rem\] {
    font-size: 3.5rem;
  }

  .xs\:text-\[4\.5rem\] {
    font-size: 4.5rem;
  }

  .xs\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .xs\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .xs\:text-\[0\.9rem\] {
    font-size: 0.9rem;
  }

  .xs\:text-\[0\.5rem\] {
    font-size: 0.5rem;
  }

  .xs\:text-\[0\.7rem\] {
    font-size: 0.7rem;
  }

  .xs\:text-\[0\.75rem\] {
    font-size: 0.75rem;
  }

  .xs\:text-\[0\.72rem\] {
    font-size: 0.72rem;
  }

  .xs\:text-\[6rem\] {
    font-size: 6rem;
  }

  .xs\:text-\[4rem\] {
    font-size: 4rem;
  }

  .xs\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .xs\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .xs\:text-\[0\.6rem\] {
    font-size: 0.6rem;
  }

  .xs\:text-\[0\.65rem\] {
    font-size: 0.65rem;
  }

  .xs\:text-\[0\.68rem\] {
    font-size: 0.68rem;
  }

  .xs\:text-\[2\.5rem\] {
    font-size: 2.5rem;
  }

  .xs\:text-\[2\.7rem\] {
    font-size: 2.7rem;
  }

  .xs\:text-\[0\.67rem\] {
    font-size: 0.67rem;
  }

  .xs\:text-\[\] {
    color: ;
  }

  .xs\:text-\[0\.7\] {
    color: 0.7;
  }
}